@model OdemeSistemi.Models.Abone
@{
    ViewBag.Title = "Abone Sorgulama";
}

<h2>Abone Sorgulama</h2>


<form action="@Url.Action("Search","Abones")" method="post">
    <input type="text" name="tc" placeholder="Tc Numarası Giriniz." class="input-group mb-3" /><br />
    <input type="text" name="vergi" placeholder="Vergi Numarası Giriniz."class="input-group mb-3" /><br />
    <input type="submit" value="Ara" class="btn btn-primary"/>
</form>

@ViewBag.eror

@if (Model != null)
{
    <h>@Model.KullaniciAdi</h>
}
else if(ViewBag.error!=null) {
    <h1>@ViewBag.error</h1>
}
